 @font-face {
    font-family:Title ;
    src: url(typefaces/NyghtSerif-MediumItalic.otf);
  }
  @font-face {
    font-family:text;
    src: url(typefaces/univers.ttf);
}

*{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    background-color:#F9F6EE ;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

div img{
    width: 100%;
    height: auto;
}

/*HOME PAGE AND CATEGORIES*/
.projects{
    margin: 6vh 6vw !important;
    padding: 0;
    display: grid !important;
    grid-template-columns: 34% 34% 34%;
    gap: 0px 20px; 
    z-index: 0; 
}

.projects a {
    display: block;
    text-decoration: none;
    width: 100%;
    margin: 0;
    padding-bottom: 5vh;
}

.projects .project-item {
    width: 22vw;
    /* height: 70vh; */
    padding-right: 10vw;
}

.project-item img {
    width: 25vw;
    height: 30vh;
    height: auto;
    aspect-ratio: 3/2;
    cursor: pointer;
    object-fit: cover;
}

.project-item h2{
    margin: 0;
    padding: 0;
    width: fit-content ; 
    font-family: Title;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    color: #5700FC;
}

.project-item img:hover ~ h2{
    color: #ff00d4 ;
}

.project-item h3 {
    font-family: text;
    font-size: 12px;
    color: #5700FC;
    width: fit-content;
    line-height: 1.3;
    padding: 0;
    margin: 1vh 0;
}

.project-item-title h3 {
    margin-top: 1.5vh;
    margin-bottom: 0.6vh;
    font-size: 14px;
    text-transform: uppercase;
}

/* RESPONSIVE DESIGN */
@media only screen and (max-width: 1100px) {
    div.projects {
        margin: 8vh 10vw 6vh 10vw;
        padding: 0;
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 0px 30px; 
    }

    .project-item {
        width: 40vw;
        /* height: 60vh; */
        padding-right: 5vw;
        padding-bottom: 10vh;
    }

    .project-item img {
        width:100%;
        height: 60%;
        padding-top: 5vh;
        cursor: pointer;
        object-fit: cover;
        
    }

    .projects .project-item {
        width: 40vw;
        padding-right: 0vw;
        overflow-y: hidden;
    }
}

@media only screen and (max-width: 700px) {
    div.projects {
        margin: 8vh 10vw 6vh 10vw;
        padding: 0;
        display: grid;
        grid-template-columns: 100%;
    }

    .project-item {
        width: 40vw;
        padding-right: 5vw;
    }

    .project-item img {
        width:100%;
        height: 70%;
        padding-top: 5vh;
        cursor: pointer;
        object-fit: cover;
    }

    .projects .project-item {
        width: 90vw;
        padding-right: 0vw;
        overflow-y: hidden;
    }
}